.new-tweet {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color:#f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 5px;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  background-color: #f4f1ec;
  border: hidden;
  border-bottom: 3px solid #5e5e5e;
  margin: 5px 0;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  font-size: 1.5rem;
  margin-top: 10px; 
}

button {  
  background-color: #4056A1;
  color: white;
  border-style: ridge;
  padding: 0.3em;
}

button:hover {
  background-color: #b30a80;
  transition: 300ms;
}

.over-char-limit {
  color: red;
}

.error-text-empty, .error-text-long {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid red;
  color: red;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: none;
}

.fa-triangle-exclamation {
  margin-right: 10px;
  margin-left: 10px;
}